Repository bacchus-snu/id, pull requests merged in 2018-08, with the labels that each got.

#9 Add config.json and model code for users, email_addresses
  .gitignore
  core/config.json.example
  core/schema.sql
  core/src/config.ts
  core/src/index.ts
  core/src/model/email_addresses.ts
  core/src/model/model.ts
  core/src/model/users.ts
Labels: DB

#11 User creation via API
  core/schema.sql
  core/src/api/server.ts
  core/src/index.ts
  core/src/model/email_addresses.ts
  core/src/model/users.ts
  core/tslint.json
Labels: API, DB

#12 Add users.getAll method
  core/src/model/users.ts
Labels: DB

#14 LDAP responds to 'search' & 'bind' method via DB model
  core/config.json.example
  core/src/api/handlers/users.ts
  core/src/api/router.ts
  core/src/api/server.ts
  core/src/config.ts
  core/src/index.ts
  core/src/ldap/server.ts
  core/src/model/errors.ts
  core/src/model/model.ts
  core/src/model/users.ts
  core/tslint.json
Labels: DB, LDAP

#17 Frontend user delete
  .travis.yml
  core/src/api/handlers/users.ts
  core/src/api/router.ts
  core/src/model/users.ts
  front/components/UserAdminTable.vue
Labels: API, Front, model

#19 No plain password
  core/package-lock.json
  core/package.json
  core/src/model/errors.ts
  core/src/model/users.ts
Labels: model, 보안

#20 Default bash shell in scheme
  core/schema.sql
Labels: enhancement, model

#22 Group & Permission 모델 코드
  core/schema.sql
  core/src/model/groups.ts
  core/src/model/model.ts
  core/src/model/permissions.ts
  core/src/model/translation.ts
  core/src/model/users.ts
  core/tslint.json
Labels: model

#23 Schema: snuid primary key 추가, primary key 필드명 `idx` 통일
  core/schema.sql
  core/src/ldap/server.ts
  core/src/model/email_addresses.ts
  core/src/model/groups.ts
  core/src/model/permissions.ts
  core/src/model/users.ts
Labels: model

#24 Lets test DB
  .travis.yml
  core/config.test.json
  core/package-lock.json
  core/package.json
  core/src/model/groups.ts
  core/test/model/groups.test.ts
  core/tsconfig.json
Labels: model, test

#25 Update Travis Badge
  README.md
Labels: housekeeping

#26 Add group owners
  core/schema.sql
  core/src/api/handlers/users.ts
  core/src/model/groups.ts
  core/src/model/users.ts
  core/test/model/groups.test.ts
Labels: model

#27 More test
  core/package-lock.json
  core/package.json
  core/src/model/model.ts
  core/src/model/users.ts
  core/test/model/email_addresses.test.ts
  core/test/model/groups.test.ts
  core/test/model/permissions.test.ts
  core/test/model/users.test.ts
  core/test/test_utils.ts
Labels: model, test

#28 Group & Permission logic
  core/schema.sql
  core/src/model/groups.ts
  core/src/model/permissions.ts
  core/src/model/users.ts
  core/test/model/groups.test.ts
  core/test/model/permissions.test.ts
  core/test/model/users.test.ts
  core/test/test_utils.ts
  core/tsconfig.json
Labels: model

#31 Add frontend lint
  .travis.yml
  front/.fimbullinter.yaml
  front/components/AppCenter.vue
  front/components/LoginForm.vue
  front/components/TheHeading.vue
  front/components/UserAdminTable.vue
  front/layouts/default.vue
  front/package-lock.json
  front/package.json
  front/pages/admin.vue
  front/pages/appcenter.vue
  front/pages/help.vue
  front/pages/index.vue
  front/pages/lab-support.vue
  front/plugins/element-ui.ts
  front/store/index.ts
  front/store/index.ts.backup
  front/tsconfig.json
  front/tslint.json
  front/types/User.ts
Labels: Front, test

#32 Session implementation and login process
  .travis.yml
  core/config.json.example
  core/config.test.json
  core/package-lock.json
  core/package.json
  core/src/api/handlers/login.ts
  core/src/api/router.ts
  core/src/api/server.ts
  core/src/config.ts
  core/test/api/login.test.ts
  core/test/setup.ts
  core/tsconfig.json
  front/components/AppCenter.vue
  front/components/LabSupport.vue
  front/components/LoginForm.vue
  front/components/ServiceInfo.vue
  front/components/TheHeading.vue
  front/components/UserAdminTable.vue
  front/nuxt.config.js
  front/store/index.ts
  front/types/translation.ts
  front/types/user.ts
Labels: API, Front, test

#34 Sign up form
  .travis.yml
  core/config.json.example
  core/config.test.json
  core/package-lock.json
  core/package.json
  core/schema.sql
  core/src/api/email.ts
  core/src/api/handlers/emails.ts
  core/src/api/handlers/login.ts
  core/src/api/handlers/shells.ts
  core/src/api/handlers/users.ts
  core/src/api/router.ts
  core/src/api/verification_email_template.ts
  core/src/config.ts
  core/src/index.ts
  core/src/model/email_addresses.ts
  core/src/model/errors.ts
  core/src/model/model.ts
  core/src/model/shells.ts
  core/src/model/users.ts
  core/test/api/email.test.ts
  core/test/api/login.test.ts
  core/test/api/shells.test.ts
  core/test/api/users.test.ts
  core/test/model/email_addresses.test.ts
  core/test/model/shells.test.ts
  core/test/model/users.test.ts
  core/test/setup.ts
  core/test/test_utils.ts
  core/tslint.json
  front/components/LoginForm.vue
  front/components/SignUpForm.vue
  front/components/TheHeading.vue
  front/components/ValidateForm.vue
  front/index.d.ts
  front/middleware/README.md
  front/nuxt.config.js
  front/pages/index.vue
  front/pages/sign-up.vue
  front/pages/validation.vue
  front/plugins/element-ui.ts
  front/store/index.ts
  front/types/account.ts
Labels: API, Front

#35 My page
  core/config.json.example
  core/config.test.json
  core/schema.sql
  core/src/api/email.ts
  core/src/api/handlers/emails.ts
  core/src/api/handlers/users.ts
  core/src/api/router.ts
  core/src/api/templates/change_password_email_template.ts
  core/src/api/templates/verification_email_template.ts
  core/src/config.ts
  core/src/model/email_addresses.ts
  core/src/model/errors.ts
  core/src/model/users.ts
  core/test/api/users.test.ts
  core/test/model/email_addresses.test.ts
  core/test/model/users.test.ts
  front/components/ChangePassword.vue
  front/components/EmailVerification.vue
  front/components/FindPassword.vue
  front/components/LoginForm.vue
  front/components/MyPage.vue
  front/components/SignUpForm.vue
  front/components/TheHeading.vue
  front/pages/change-password.vue
  front/pages/my-page.vue
  front/pages/password-reset.vue
  front/pages/validation.vue
  front/pages/verify.vue
  front/types/account.ts
  front/types/user.ts
Labels: API, Front

#40 posix uid migration, MS SQL Server pwdencrypt compatibility
  core/package-lock.json
  core/package.json
  core/src/model/users.ts
  core/test/model/users.test.ts
  core/typings/phc__format/index.d.ts
  migrator/.gitignore
  migrator/package-lock.json
  migrator/package.json
  migrator/src/index.ts
  migrator/typings
Labels: model

#45 Tls config
  core/config.json.example
  core/config.test.json
  core/src/config.ts
  core/src/index.ts
  core/typings/ldapjs/index.d.ts
Labels: Security

#43 Ldap last touch
  core/config.json.example
  core/src/config.ts
  core/src/ldap/server.ts
  core/src/ldap/types.ts
  core/src/model/users.ts
  migrator/typings
  migrator/typings/phc__format
Labels: LDAP

#48 Deactivate user at first + coverage
  .gitignore
  core/package-lock.json
  core/package.json
  core/src/api/handlers/users.ts
  core/test/model/users.test.ts
Labels: housekeeping

#49 Drop oldcore+migrator & Bump version
  core/package.json
  front/package.json
  migrator/.gitignore
  migrator/config.json.example
  migrator/package-lock.json
  migrator/package.json
  migrator/src/index.ts
  migrator/tsconfig.json
  migrator/typings/phc__format
  oldcore/package.json
  oldcore/schema.sql
  oldcore/src/api/main.ts
  oldcore/src/config.ts
  oldcore/src/ldap/main.ts
  oldcore/src/log/exception.ts
  oldcore/src/log/log.ts
  oldcore/src/main.ts
  oldcore/src/model/class_implies.ts
  oldcore/src/model/class_names.ts
  oldcore/src/model/classes.ts
  oldcore/src/model/email_addresses.ts
  oldcore/src/model/hosts.ts
  oldcore/src/model/nodes.ts
  oldcore/src/model/password.ts
  oldcore/src/model/reserved_usernames.ts
  oldcore/src/model/shells.ts
  oldcore/src/model/users.ts
  oldcore/src/model/users_classes.ts
  oldcore/src/model/users_masks.ts
  oldcore/src/model/users_nodes.ts
  oldcore/src/model/users_terms.ts
  oldcore/src/model/users_valids.ts
  oldcore/src/model/utils.ts
  oldcore/src/nodes.ts
  oldcore/src/terms.ts
  oldcore/src/translations.ts
  oldcore/src/types/Conflict.ts
  oldcore/src/types/ErrorMessage.ts
  oldcore/src/types/Fields.ts
  oldcore/src/types/Node.ts
  oldcore/src/types/Term.ts
  oldcore/src/types/Translation.ts
  oldcore/tsconfig.json
  oldcore/tslint.json
Labels: housekeeping
