Repository bacchus-snu/id, pull requests merged in 2018-09, with the labels that each got.

#50 Front enhancement
  front/components/LoginForm.vue
  front/components/MyPage.vue
  front/components/TheHeading.vue
  front/static/favicon.ico
Labels: Front

#55 Slack notification at user create
  core/config.json.example
  core/config.test.json
  core/package-lock.json
  core/package.json
  core/src/api/handlers/users.ts
  core/src/config.ts
Labels: housekeeping

#59 You can login with existing account!
  front/components/LoginForm.vue
Labels: Front

#62 SNUCSE3 login support
  core/src/api/handlers/login.ts
  core/test/api/login.test.ts
Labels: API

#65 Delete admin page that might or might not work
  front/components/UserAdminTable.vue
  front/pages/admin.vue
Labels: Front

#67 Add model.users.getAllAsPosixAccounts
  core/src/index.ts
  core/src/ldap/server.ts
  core/src/model/model.ts
  core/src/model/users.ts
  core/test/api/email.test.ts
  core/test/api/login.test.ts
  core/test/api/shells.test.ts
  core/test/api/users.test.ts
  core/test/model/email_addresses.test.ts
  core/test/model/groups.test.ts
  core/test/model/permissions.test.ts
  core/test/model/shells.test.ts
  core/test/model/users.test.ts
  core/test/setup.ts
Labels: LDAP, model

#68 LDAP user entry cache test
  core/test/model/users.test.ts
Labels: LDAP, test

#70 계정 생성과 동시에 posix uid assign
  core/config.json.example
  core/schema.sql
  core/src/config.ts
  core/src/ldap/server.ts
  core/src/model/users.ts
  core/test/model/users.test.ts
Labels: LDAP, bug, model

#74 Fix password change token expiration
  core/src/model/users.ts
  core/test/model/users.test.ts
Labels: bug, model

#73 Share model instance in test
  core/test/api/email.test.ts
  core/test/api/login.test.ts
  core/test/api/shells.test.ts
  core/test/api/users.test.ts
  core/test/model/email_addresses.test.ts
  core/test/model/groups.test.ts
  core/test/model/permissions.test.ts
  core/test/model/shells.test.ts
  core/test/model/users.test.ts
  core/test/setup.ts
Labels: test

#71 Add uid assigner
  uid-assigner/config.json.example
  uid-assigner/package-lock.json
  uid-assigner/package.json
  uid-assigner/src/config.ts
  uid-assigner/src/index.ts
  uid-assigner/src/ldap
  uid-assigner/src/model
  uid-assigner/tsconfig.json
  uid-assigner/tslint.json
  uid-assigner/typings
Labels: bug

#75 Deadlock avoidance for access exclusive & advisory locks
  core/src/api/handlers/emails.ts
  core/src/api/handlers/login.ts
  core/src/api/handlers/shells.ts
  core/src/api/handlers/users.ts
  core/src/ldap/server.ts
  core/src/model/email_addresses.ts
  core/src/model/groups.ts
  core/src/model/model.ts
  core/src/model/permissions.ts
  core/src/model/shells.ts
  core/src/model/transaction.ts
  core/src/model/users.ts
  core/test/api/email.test.ts
  core/test/api/login.test.ts
  core/test/api/shells.test.ts
  core/test/api/users.test.ts
  core/test/model/email_addresses.test.ts
  core/test/model/groups.test.ts
  core/test/model/permissions.test.ts
  core/test/model/shells.test.ts
  core/test/model/users.test.ts
  core/test/test_utils.ts
Labels: model

#79 Cache rebuild trigger
  core/bootstrap/rebuild_group_cache.ts
  core/package.json
  core/src/ldap/server.ts
  core/src/model/groups.ts
Labels: housekeeping

#80 No underscore in username
  core/src/api/handlers/users.ts
  front/components/SignUpForm.vue
Labels: API, Front, housekeeping

#81 Transaction 재시도
  core/src/model/model.ts
  core/test/model/model.test.ts
  core/test/test_utils.ts
Labels: model
